<h1>About us</h1>
<%= render 'sitenav' %> 
<p>Welcome To DataFall! Where you can earn currency for your submitted data!<br> Users sign up for various platforms like Facebook, and twitter.<br> The service is free, however their data is used as compensation <br> without (for the most part of the general population) any knowledge from the user. <br> The team believes user’s should earn a cut from relinquishing that information to use<br> these “free” services.
The solution? Create a platform that <br> puts the user in control of their own data, empowering the user to provide <br> and sell as much data as they want with full transparency.</p>

