
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"><html><head><META http-equiv="Content-Type" content="text/html; charset=utf-8"></head>



<body>








<div>

<%= image_tag('/images/logo.png',  alt: "DataFall inc. photo") %>

	
	
	
	


	
	<div>
		
		<h1>Earn what you deserve <span>for a company that keeps giving</span>
		</h1>
	</div>


		
<%= render 'sitenav' %>
<div>
	

		<div>
			<h1>Who we are</h1>
			<p>A platform that puts the user in control of their own data, empowering the user to provide and sell as much data as they want with full transparency.</p>
			<p><strong>Transparency at all times</strong> The team believes user’s should earn a cut from relinquishing that information to use these “free” services.</p>
		</div>

	
</div>



	<h1>Some of our rewards!</h1>

	
	
		<img src="http://img/portfolio-01.jpeg" alt="portfolio item">
		
			<p>Eshop Cards</p>
			<a>Reward Details</a>
		
	

	
	
		<img src="http://img/portfolio-02.png" alt="portfolio item">
		
			<p>PSN Cards</p>
			<a>Reward Details</a>
		
	

	
	
		<img src="http://img/portfolio-03.jpg" alt="portfolio item">
		
			<p>Xbox Cards</p>
			<a>Reward Details</a>
		
	

	
	
		<img src="http://img/portfolio-04.png" alt="portfolio item">
		
			<p>Steam Cards</p>
			<a>Reward Details</a>
		
	

	
	
		<img src="http://img/portfolio-05.png" alt="portfolio item">
		
			<p>Amazon Cards</p>
			<a>Reward Details</a>
		
	

	
	
		<img src="http://img/portfolio-06.png" alt="portfolio item">
		
			<p>Playstore Cards</p>
			<a>Reward Details</a>
		
	




	<div>
		<h1>More information = more money
			 <span>No sensitive information to be sold</span>
		</h1>
		<a>Sign up</a>
	</div>



	<div>
		<div>
			<p>Requires Facebook Login</p>
		</div>

		<div>
			<ul>
				<li><strong>Playstation</strong></li>
				<li>PSN Memberships</li>
				<li>PSN Points</li>
				<li>PS Now</li>
				<li>PS Digital</li>
			</ul>
		</div>

		<div>
			<ul>
				<li><strong>Microsoft</strong></li>
				<li>Xbox Live</li>
				<li>Xbox points</li>
				<li>Game Pass</li>
				<li>Xbox Digital </li>
			</ul>
		</div>

		<div>
			<ul>
				<li><strong>Nintendo</strong></li>
				<li>Nintendo Online</li>
				<li>Nintendo Points</li>
				<li>Retro Pass </li>
				<li>Eshop </li>
			</ul>
		</div>
	</div>





		
</div>

</body></html>
