/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url(//fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);
h1 {
  font-size: 32px;
  color: blue;
}

h2 {
  font-size: 24px;
  color: blue;
}

/*div2 is for the nav bar*/
#div2 ul
{
    float : left;
    position: relative;
}
#div2 ul li
{
    list-style-type: none;
    display : inline-block;
}
#div2 ul li a
{
    text-decoration: none;
    padding : 30px;
    color : #2F4F4F;
    left :0px;
}
#div2 ul li:hover
{
    background : #D3D3D3;
}
#div2 ul li li
{
    background : #D3D3D3;
    display: block;
}

#div2
{
    background : #DCDCDC;
    height : 100px;
    width : 100%;
    text-align : 50px;
    line-height: 75px;
    opacity : 0.7;
    filter : alpha(opacity = 70);
}
body
{
  background: #33DCE0;
  font-family: 'Exo','sans-serif';
    font-weight: 200;
}
